In [63]:
import pandas as pd
from sqlalchemy import create_engine

In [64]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [65]:
engine.connect()

In [66]:
df1 = pd.read_csv('green_tripdata_2019-10.csv', nrows=100)

In [67]:
print(pd.io.sql.get_schema(df1,name='green_taxi'))

CREATE TABLE "green_taxi" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TEXT,
  "lpep_dropoff_datetime" TEXT,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [68]:
df2 = pd.read_csv('taxi_zone_lookup.csv')

In [69]:
print(pd.io.sql.get_schema(df2,name='green_taxi'))

CREATE TABLE "green_taxi" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)

In [70]:
df2.to_sql(name='zones', con=engine, if_exists='replace')

265

In [71]:
df1_iter = pd.read_csv('green_tripdata_2019-10.csv', iterator=True, chunksize=100000)

In [72]:
for chunk in df1_iter:
    chunk.lpep_pickup_datetime = pd.to_datetime(chunk.lpep_pickup_datetime)
    chunk.lpep_dropoff_datetime = pd.to_datetime(chunk.lpep_dropoff_datetime)

    chunk.to_sql(name='green_taxi_data', con=engine, if_exists='append')

/tmp/ipykernel_4544/1190949315.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in df1_iter: